import /vendor/etc/init/hw/init.${ro.hardware}.usb.rc
import /vendor/etc/init/hw/init.ram.rc
import /vendor/etc/init/hw/init.storage.rc
import /vendor/etc/init/hw/init.cali.rc
import /vendor/etc/init/hw/init.factorytest.rc

on init
    start watchdogd
    chmod 0660 /sys/power/wakeup_count

on post-fs-data
    setprop vold.post_fs_data_done 1
    setprop debug.sf.disable_backpressure 1
    setprop debug.sf.latch_unsignaled 1

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /system/bin/watchdogd 10 30
    class core
    oneshot
    seclabel u:r:watchdogd:s0

on boot
#UNISOC: Support aging test charging limit function 
    chown system system /sys/class/power_supply/battery/charger.0/stop_charge
    chmod 0664 /sys/class/power_supply/battery/charger.0/stop_charge

on property:dev.bootcomplete=1
    start mmc_ffu

service mmc_ffu /vendor/bin/mmc_ffu do /dev/block/mmcblk0
    class main
    user root
    disabled
    oneshot
